/* Light mode placeholder */
.input-light::placeholder {
  color: #757575 !important; 
}


/* Dark mode placeholder */
.input-dark::placeholder {
  color: #ffffff !important; 
  opacity: 0.3;
} 


@media (max-width: 576px) {


  .username{
    display: flex ;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    align-items: flex-start;
  }

  /* Bio Section*/
  .bio {
    margin-left: -10px !important;
    text-align: left;
  }

  /* Stats Section */
  .stats {
    margin-left: -10px !important;
    text-align: center;
  }

  /* Link Section */
  .link-section {
    margin-left: -10px !important;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}


                                                